/*************************************************************************************************************************************************************************************************************************************************************

"userChrome.css" is a custom CSS file that can be used to specify CSS style rules for Floorp's interface (NOT internal site) using "chrome" privileges.
For instance, if you want to hide the tab bar, you can use the following CSS rule:

**************************************
#TabsToolbar {                       *
    display: none !important;        *
}                                    *
**************************************

NOTE: You can use the userChrome.css file without change preferences (about:config)

Quote: https://userChrome.org | https://github.com/topics/userchrome 

************************************************************************************************************************************************************************************************************************************************************/

@charset "UTF-8";

@-moz-document url(chrome://browser/content/browser.xhtml){
/* Please write your custom CSS under this line*/

:root {
  --uc-sidebar-width: 51px !important;
  /* Change the sidebar width */
  --uc-sidebar-activate-width: 48.5rem !important;
  /* Set a new value for activation width */
  --uc-sidebar-fullscreen-width: 4px !important;
  /* Set a new value for fullscreen width */

  --uc-autohide-sidebar-speed: 100ms !important;
  ;
  /* Default: 750ms */
  --uc-autohide-fullscreen-sidebar-speed: 0.1s !important;
  ;
  /* Default: 1s */
  --uc-autohide-sidebar-delay: 100ms !important;
  ;
  /* Default: 600ms */

  --toolbarbutton-inner-padding: 15px;
  /* Change the padding of the toolbar buttons */
}

.browserContainer {
  /* border: none !important; Remove the border */
  border-top: solid 5px var(--toolbar-bgcolor) !important; /* enable top border on round edges mode */
  border-left: none !important;
}

toolbar {
  min-height: 55px !important;
  /* Change the toolbar height */
}

#titlebar {
  padding: 2.5px !important;
  /* Change the titlebar height */
}

#sidebar {
  /* padding-left: 4px !important; */
  /* Change the sidebar margin */
}

@media (max-width: 800px) {
  #nav-bar {
    left: 30px !important;
    right: 30px !important;
  }
}

@media (max-width: 1100px) {
  #nav-bar {
    left: 15% !important;
    right: 15% !important;
  }
}

#nav-bar {
  position: fixed !important;
  bottom: -1rem;
  left: 25%;
  right: 25%;

  z-index: 1 !important;
  transition: bottom 0.3s cubic-bezier(0.270, 0.910, 0.435, 1.280),
    opacity 0.1s ease !important;
  border-top: none !important;
  border-radius: 10px !important;
  border: 1px solid var(--tab-selected-bgcolor) !important;
  background: var(--lwt-accent-color) !important;
  opacity: 0; /* Initially hidden */
}

#nav-bar:hover, #nav-bar:focus-within {
  bottom: 0rem; /* How far down the toolbar should be when visible */
  opacity: 1;
}

#nav-bar:not(:hover):not(:focus-within) {
  bottom: -1rem;
  opacity: 0;
}

#navigator-toolbox-background {
  top: 100%;
  position: absolute;
  min-width: 100%;
}

#urlbar-background {
  border-radius: 10px !important;
}

.urlbarView-url {
  color: var(--toolbar-color) !important;
}

.urlbar-input-box {
  margin-left: 16px !important;
}

/* QRCodeGeneratePageAction = QR code generator button */
/* floorp-tabbar-window-manage-container = 'Title' bar (close/minimize/extend) */
/* reader-mode-button = Reader mode button */
/* star-button-box = Bookmark button */
/* identity-box = Permissions button */
/* tracking-protection-icon-container = Tracking protection button */
/* unified-extensions-button = Extensions button */

#unified-extensions-button,
#tracking-protection-icon-container,
#identity-box,
#star-button-box,
#QRCodeGeneratePageAction,
#floorp-tabbar-window-manage-container,
#reader-mode-button {
  display: none !important;
}

}

/* Disabled right now

/* Source file https://github.com/MrOtherGuy/firefox-csshacks/tree/master/chrome/autohide_sidebar.css made available under Mozilla Public License v. 2.0
See the above repository for updates as well as full license text. */

/* Show sidebar only when the cursor is over it  */
/* The border controlling sidebar width will be removed so you'll need to modify these values to change width */